header {
  a {
    align-self: center;
  }

  nav {
    a {
      display: flex;
      flex-direction: column-reverse;
    }

    svg {
      padding: 5px;
      align-self: center;
      font-size: 30px;
    }
  }
}