.projects-wrapper {
  background-color: #333;
  text-align: center;

  h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-size: 30px;
    font-style: normal;

    @media (max-width:600px) {
      font-size: 20px;
    }
  }

  nav {
    justify-content: center;

    svg {
      padding: 20px;
      font-size: 40px;

      @media (max-width:800px) {
        font-size: 30px;
      }

      &:hover {
        color: lightblue;
      }
    }
  }

  .link:hover {
    text-align: center;
    font-style: oblique;
    color: lightblue;
  }


  iframe {
    width: 90%;
    margin: 20px auto;
  }
}