.resume-wrapper {
  display: flex;
  justify-content: center;
  // align-items: center;
  text-align: center;
  flex-direction: column;

  nav {
    justify-content: center;

    svg {
      padding: 20px;
      font-size: 50px;

      @media (max-width:800px) {
        font-size: 35px;
      }

      &:hover {
        color: lightblue;
      }
    }
  }

  img {
    margin: 10px;
    max-width: 850px;
    align-self: center;

    @media (max-width:800px) {
      max-width: 650px;
    }

    @media (max-width:650px) {
      max-width: 450px;
    }

    @media (max-width:500px) {
      max-width: 340px;
    }
  }
}